@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans antialiased text-guitart-navy bg-white selection:bg-guitart-blue selection:text-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}

/* Custom Utilities */
.delay-100 { animation-delay: 100ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
.delay-500 { animation-delay: 500ms; }